{% extends "layouts/app.html" %}

{% block title %}Pages{% endblock %}

{% block content %}
<style>
    .btn-facebook:hover {
        color: #4267B2;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>List of Posts</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-1">
                                    #
                                </th>
                                <th
                                    class="text-start text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 px-1">
                                    Đường dẫn</th>
                                <th
                                    class="text-start text-start text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-1">
                                    Thời gian lấy</th>
                                <th
                                    class="text-center text-start text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-1">
                                    Facebook</th>
                            </tr>
                        </thead>

                        <tbody id="tbody-posts">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        getData()
        async function getData() {
            let res = await axios.get('/api/posts')
            if (res.status == 200) {
                let data = res.data.list_posts;
                let content = data.map(function (item) {
                    return `
                        <tr class="text-xs">
                            <td class="text-center align-middle">
                                ${item.id}
                            </td>
                            <td class="text-start align-middle">
                                ${item.fb_link}
                            </td>
                            <td class="text-start align-middle">
                                ${item.created_at}
                            </td>
                            <td class="align-middle text-center pe-1">
                                <a href="${item.fb_link}" class="btn-facebook" target="_blank"
                                    class="text-secondary font-weight-bold text-xs">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </td>
                        </tr>
                    `;
                })
                $('#tbody-posts').html(content)
            }
        }
    })
</script>
{% endblock %}