{% extends "layouts/app.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to My Desktop Application!</h1>
    <p>This is a desktop app using HTML/CSS interface.</p>
    <button id="helloButton">
        HELLO
    </button>
    <button id="start">
        Start Browser
    </button>

    <script type="text/javascript">
        document.getElementById("helloButton").onclick = function() {
            fetch('/api/hello')
                .then(response => response.json())
                .then(data => alert(data.message));
        };
        document.getElementById('start').onclick = function(){
            fetch('/driver/start')
                .then(response => response.json())
                .then(data => console.log(data));
        }
    </script>
{% endblock %}